html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  background-color: #C0DBD9;
}

.header {
  display: flex;
  align-items: center;
  padding: 30px;
  margin-bottom: 15px;
  height: 100px;
  width: 100%;
  background-color: #7FAFF7;
}

.open-popup__btn {
  display: block;
  padding: 8px 15px;
  border-radius: 5px;
  font-size: 20px;
  line-height: 23px;
  color: #FFFFFF;
  background-color: #A5C7F9;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
  opacity: 0;
  visibility: hidden;
  &:target {
    opacity: 1;
    visibility: visible;
    & .popup__window {
      transform: scale(1);
    }
  }
  &__window {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 400px;
    font-size: 53px;
    line-height: 62px;
    color: #000000;
    background-color: #FFFFFF;
    transform: scale(0);
    transition: all .5s;
  }
}
.close-popup__btn {
  position: absolute;
  top: 15px;
  right: 15px;
  padding: 8px 15px;
  font-size: 20px;
  line-height: 23px;
  color: #FFFFFF;
  border-radius: 5px;
  background-color: #7FAFF6;
}

.first-block {
  display: grid;
  grid-template-columns: 390px 590px 160px;
  gap: 15px;
  margin-bottom: 15px;
  background-color: #B3F95A;
  counter-reset: number 0;
  &__item {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 198px;
    background-color: #8AD191;
    counter-increment: number;
    &::before {
      content: counter(number);
      font-size: 53px;
      line-height: 62px;
      color: #FFFFFF;
    }
    &:nth-child(4) {
      grid-column: 1/3;
    }
  }
}

.second-block {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  padding: 30px;
  margin-bottom: 100px;
  background-color: #88B5BF;
  &__item {
    display: block;
    padding-top: 78.04%;
    background-color: #0D89B0;
  }
}

.footer {
  height: 100px;
  width: 100%;
  background-color: #7FAFF7;
}



